<h1>Editing Task</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <!-- Form fields -->
  <%= form.text_field :title, name: "task[title]", placeholder: "Title of todo" %>
  <%= form.text_field :description, name: "task[description]", placeholder: "Description of todo" %>
  <%= form.datetime_field :due_date, name: "task[due_date]" %>
  <% form.check_box :completed %>
  <%= form.submit "Save" %>
<% end %>    
<%= link_to "Back to home", tasks_path %>
</div>